<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687629471418-rj5iftav0g5pvu6a0a4103ukqt9tv620.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687629471418-rj5iftav0g5pvu6a0a4103ukqt9tv620</string>
	<key>API_KEY</key>
	<string>AIzaSyC4LXoXFsAo2SHHKj8MeT6JIF0vxjkLdfo</string>
	<key>GCM_SENDER_ID</key>
	<string>687629471418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-c9640</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-c9640.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687629471418:ios:0f77c9428f030d8a2b3c83</string>
</dict>
</plist>